<h1>Employee: <%= @employee.name %></h1>
<h2>Division: <%= @division.name %></h2>

<p><%= link_to "Edit Employee", edit_division_employee_path(@division, @employee) %></p>
<p><%= link_to "Delete Employee", division_employee_path(@division, @employee),
                        :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %></p>